fastapi
uvicorn
sentence-transformers
scikit-learn
pdfplumber
pydantic
python-multipart
numpy
scipy
torch
sqlalchemy
python-jose[cryptography]
passlib[argon2]
argon2-cffi
httpx
pandas
statsmodels
fairlearn
transformers
nltk
faster-whisper
websockets
